<div class="row">
	<div class="col-md-12">
		<h1>Hey from view/survey.html</h1>
		<h2>Create skrip logic here</h2>
		<ul>
			<li>Get program</li>
			<li>Dispay one by one?</li>
			<li>Display all. Pick 1, pick one to show?</li>
		</ul>
	</div>

	<div class="col-md-12">
		<table class="table">
			<thread>
				<tr>
					<th>Name</th>
					<th>Id</th>
				</tr>
			</thread>
		<tbody>
				<tr ng-repeat="program in programs">
					<td><a href="#/skiplogic/{{program.id}}">{{program.name}}</a></td>
					<td>{{program.id}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>